Note:- if you facing any problem while downloading/ connecting with mongodb.
        there are two ways to so this
        1. !pip install dnspython
        2. the id/password must not contain @ ? / like symbols and can only contain _

In [18]:
!pip install dnspython

Requirement already satisfied: dnspython in g:\anaconda\lib\site-packages (2.5.0)

In [10]:
!pip install pymongo

Requirement already satisfied: pymongo in g:\anaconda\lib\site-packages (4.6.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in g:\anaconda\lib\site-packages (from pymongo) (2.5.0)

In [11]:
!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in g:\anaconda\lib\site-packages (4.6.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in g:\anaconda\lib\site-packages (from pymongo[srv]) (2.5.0)

In [12]:
# Import necessary libraries
from pymongo import MongoClient

In [13]:
import pymongo

In [24]:
# Connect to MongoDB server
# Replace "your_username", "your_password", "your_cluster_address", and "your_database" with your MongoDB credentials
client = MongoClient("mongodb+srv://RiH_137:Rishi123456@cluster0.uumhbc9.mongodb.net/?retryWrites=true&w=majority")
db=client.test

In [25]:
print(db)

Database(MongoClient(host=['ac-ckfufoz-shard-00-01.uumhbc9.mongodb.net:27017', 'ac-ckfufoz-shard-00-02.uumhbc9.mongodb.net:27017', 'ac-ckfufoz-shard-00-00.uumhbc9.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-6241m2-shard-0', tls=True), 'test')

In [26]:
db1=client.test1

In [27]:
#list of databases
client.list_database_names()

['admin', 'local']

In [28]:
db2=client['my_database']                     #creating a database

In [29]:
coll1= db2['ineoron_collection_table']              #craeting collection

In [35]:
dict1={
    "name": "sudhanshu",
    "email_id": "hdih@gmail.com",
    "prod" : ["one","two", 123],
    "comp":"okay",
}

In [36]:
coll1.insert_one(dict1)                                #inserting into database

InsertOneResult(ObjectId('65bbc4dab10ebf0f39199144'), acknowledged=True)

In [33]:
dict2={
    "name": "sudhanshu",
    "email_id": "hdih@gmail.com",
    "prod" : ["one","two", 123],
    "comp":"okay",
    "phone": 959582852
}

In [34]:
coll1.insert_one(dict2)

InsertOneResult(ObjectId('65bbc2b7b10ebf0f39199143'), acknowledged=True)

In [40]:
#appending the old data to new one 

dict1={
    "name": "sudhanshu",
    "email_id": "hdih@gmail.com",
    "prod" : ["one","two", 123],
    "comp":"okay",
    "new" :"nothing"                        #addig new data
}
coll1.insert_one(dict1)

InsertOneResult(ObjectId('65bbc539b10ebf0f39199147'), acknowledged=True)

In [ ]:
dict3={
    "_id" : "This is my _id",       #adding id 
    "name": "sudhanshu",
    "email_id": "hdih@gmail.com",
    "prod" : ["one","two", 123],
    "comp":"okay",
}

coll1.insert_one(dict3)

In [48]:


book_list1 = [
    {"title1": "The Enigma Code", "author": "Elena Mystery", "genre": "Mystery", "year": 2020},
    {"title2": "Galactic Odyssey", "author": "Xander Explorer", "genre": "Science Fiction", "year": 2019},
    {"title3": "Whispers in the Woods", "author": "Isabella Whisperer", "genre": "Fantasy", "year": 2021},
    {"title4": "Tech Titans", "author": "Oliver Innovator", "genre": "Science and Technology", "year": 2022},
    {"title5": "Serenade of Shadows", "author": "Luna Nightfall", "genre": "Dark Fantasy", "year": 2018}
]

coll1.insert_many(book_list1)

InsertManyResult([ObjectId('65bbcabfb10ebf0f3919914d'), ObjectId('65bbcabfb10ebf0f3919914e'), ObjectId('65bbcabfb10ebf0f3919914f'), ObjectId('65bbcabfb10ebf0f39199150'), ObjectId('65bbcabfb10ebf0f39199151')], acknowledged=True)

In [49]:
data={
    "name": "sudhanshu",
    "email_id": "hdih@gmail.com",
    "prod" : ["one","two", 123],
    "comp":"okay",
    "new" :"nothing"  
}

l=[data, data, data]
coll1.insert(l)

TypeError: 'Collection' object is not callable. If you meant to call the 'insert' method on a 'Collection' object it is failing because no such method exists.

This will not work ....

##### fetching

In [51]:
#fetching all the datas from the collection

for i in coll1.find():
    print(i)

{'_id': ObjectId('65bbb8b6b10ebf0f39199142'), 'name': 'sudhanshu', 'email_id': 'hdih@gmail.com', 'prod': ['one', 'two', 123], 'comp': 'okay'}
{'_id': ObjectId('65bbc2b7b10ebf0f39199143'), 'name': 'sudhanshu', 'email_id': 'hdih@gmail.com', 'prod': ['one', 'two', 123], 'comp': 'okay', 'phone': 959582852}
{'_id': ObjectId('65bbc4dab10ebf0f39199144'), 'name': 'sudhanshu', 'email_id': 'hdih@gmail.com', 'prod': ['one', 'two', 123], 'comp': 'okay', 'new': 'nothing'}
{'_id': ObjectId('65bbc539b10ebf0f39199147'), 'name': 'sudhanshu', 'email_id': 'hdih@gmail.com', 'prod': ['one', 'two', 123], 'comp': 'okay', 'new': 'nothing'}
{'_id': 'This is my _id', 'name': 'sudhanshu', 'email_id': 'hdih@gmail.com', 'prod': ['one', 'two', 123], 'comp': 'okay--> this is edited from here only'}
{'_id': ObjectId('65bbca36b10ebf0f39199148'), 'title': 'The Enigma Code', 'author': 'Elena Mystery', 'genre': 'Mystery', 'year': 2020}
{'_id': ObjectId('65bbca36b10ebf0f39199149'), 'title': 'Galactic Odyssey', 'author': 'Xander Explorer', 'genre': 'Science Fiction', 'year': 2019}
{'_id': ObjectId('65bbca36b10ebf0f3919914a'), 'title': 'Whispers in the Woods', 'author': 'Isabella Whisperer', 'genre': 'Fantasy', 'year': 2021}
{'_id': ObjectId('65bbca36b10ebf0f3919914b'), 'title': 'Tech Titans', 'author': 'Oliver Innovator', 'genre': 'Science and Technology', 'year': 2022}
{'_id': ObjectId('65bbca36b10ebf0f3919914c'), 'title': 'Serenade of Shadows', 'author': 'Luna Nightfall', 'genre': 'Dark Fantasy', 'year': 2018}
{'_id': ObjectId('65bbcabfb10ebf0f3919914d'), 'title1': 'The Enigma Code', 'author': 'Elena Mystery', 'genre': 'Mystery', 'year': 2020}
{'_id': ObjectId('65bbcabfb10ebf0f3919914e'), 'title2': 'Galactic Odyssey', 'author': 'Xander Explorer', 'genre': 'Science Fiction', 'year': 2019}
{'_id': ObjectId('65bbcabfb10ebf0f3919914f'), 'title3': 'Whispers in the Woods', 'author': 'Isabella Whisperer', 'genre': 'Fantasy', 'year': 2021}
{'_id': ObjectId('65bbcabfb10ebf0f39199150'), 'title4': 'Tech Titans', 'author': 'Oliver Innovator', 'genre': 'Science and Technology', 'year': 2022}
{'_id': ObjectId('65bbcabfb10ebf0f39199151'), 'title5': 'Serenade of Shadows', 'author': 'Luna Nightfall', 'genre': 'Dark Fantasy', 'year': 2018}

In [55]:
for i in coll1.find({"name":"sudhanshu"}):
    print(i)


#return only those records where name =sudh

{'_id': ObjectId('65bbb8b6b10ebf0f39199142'), 'name': 'sudhanshu', 'email_id': 'hdih@gmail.com', 'prod': ['one', 'two', 123], 'comp': 'okay'}
{'_id': ObjectId('65bbc2b7b10ebf0f39199143'), 'name': 'sudhanshu', 'email_id': 'hdih@gmail.com', 'prod': ['one', 'two', 123], 'comp': 'okay', 'phone': 959582852}
{'_id': ObjectId('65bbc4dab10ebf0f39199144'), 'name': 'sudhanshu', 'email_id': 'hdih@gmail.com', 'prod': ['one', 'two', 123], 'comp': 'okay', 'new': 'nothing'}
{'_id': ObjectId('65bbc539b10ebf0f39199147'), 'name': 'sudhanshu', 'email_id': 'hdih@gmail.com', 'prod': ['one', 'two', 123], 'comp': 'okay', 'new': 'nothing'}
{'_id': 'This is my _id', 'name': 'sudhanshu', 'email_id': 'hdih@gmail.com', 'prod': ['one', 'two', 123], 'comp': 'okay--> this is edited from here only'}

In [56]:
for i in coll1.find({"name":{"$in":["sudh","sudhanshu", "sudhanshu kumar"]}}):
    print(i)
    
#return only those records which one either contain "sudh","sudhanshu", "sudhanshu kumar"

{'_id': ObjectId('65bbb8b6b10ebf0f39199142'), 'name': 'sudhanshu', 'email_id': 'hdih@gmail.com', 'prod': ['one', 'two', 123], 'comp': 'okay'}
{'_id': ObjectId('65bbc2b7b10ebf0f39199143'), 'name': 'sudhanshu', 'email_id': 'hdih@gmail.com', 'prod': ['one', 'two', 123], 'comp': 'okay', 'phone': 959582852}
{'_id': ObjectId('65bbc4dab10ebf0f39199144'), 'name': 'sudhanshu', 'email_id': 'hdih@gmail.com', 'prod': ['one', 'two', 123], 'comp': 'okay', 'new': 'nothing'}
{'_id': ObjectId('65bbc539b10ebf0f39199147'), 'name': 'sudhanshu', 'email_id': 'hdih@gmail.com', 'prod': ['one', 'two', 123], 'comp': 'okay', 'new': 'nothing'}
{'_id': 'This is my _id', 'name': 'sudhanshu', 'email_id': 'hdih@gmail.com', 'prod': ['one', 'two', 123], 'comp': 'okay--> this is edited from here only'}

In [58]:
for i in coll1.find({"name":{"$in":["sudh","sudhanshu", "sudhanshu kumar"]},"email_id" : {"$in":["@gmail.com", "@hotmail.com"]}}):
                                                                                                
    print(i)

In [60]:
coll1.find_one()

#return first record from the dataset

{'_id': ObjectId('65bbb8b6b10ebf0f39199142'),
 'name': 'sudhanshu',
 'email_id': 'hdih@gmail.com',
 'prod': ['one', 'two', 123],
 'comp': 'okay'}

In [61]:
for i in coll1.find({"quantity":{'$gt': 25}}):
    print(i)
    
 #return those records where quantity > 25

In [62]:
for i in coll1.find({"quantity":{'$lt': 25}}):
    print(i)
    
 #return those records where quantity < 25

In [ ]:
for i in coll1.find({"quantity":{'$not':{'$gt': 25}}}):
    print(i)
    
 #return those records where quantity not be greater 25

In [ ]:
for i in coll1.find({"quantity":{'$not':{'$lt': 25}}}):
    print(i)
    
 #return those records where quantity not be lesser 25

In [63]:
#updating a data from the record
coll1.update_one({'name':'sudhandhu'}, {'$set':{'name':'RiH'}})        #one for only single record

UpdateResult({'n': 0, 'electionId': ObjectId('7fffffff000000000000025e'), 'opTime': {'ts': Timestamp(1706810772, 7), 't': 606}, 'nModified': 0, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1706810772, 7), 'signature': {'hash': b'\x07\xa8\xd8\x94\xa7\xf6^\xb7o]v\x19\xbe\x189\x9f\x06\x98e\xd8', 'keyId': 7286491453084139526}}, 'operationTime': Timestamp(1706810772, 7), 'updatedExisting': False}, acknowledged=True)

In [64]:
coll1.update_many({'name':'sudhandhu'}, {'$set':{'name':'RiH'}})            #many for all record

UpdateResult({'n': 0, 'electionId': ObjectId('7fffffff000000000000025e'), 'opTime': {'ts': Timestamp(1706810858, 3), 't': 606}, 'nModified': 0, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1706810858, 3), 'signature': {'hash': b"\xb4M\xf8{FF\xc8\x01]%8\xea\xe5\x90W\x17'&:}", 'keyId': 7286491453084139526}}, 'operationTime': Timestamp(1706810858, 3), 'updatedExisting': False}, acknowledged=True)

In [65]:
#searching of records with the limit

for i in coll1.find().limit(2):
    print(i)

{'_id': ObjectId('65bbb8b6b10ebf0f39199142'), 'name': 'sudhanshu', 'email_id': 'hdih@gmail.com', 'prod': ['one', 'two', 123], 'comp': 'okay'}
{'_id': ObjectId('65bbc2b7b10ebf0f39199143'), 'name': 'sudhanshu', 'email_id': 'hdih@gmail.com', 'prod': ['one', 'two', 123], 'comp': 'okay', 'phone': 959582852}